.toolbar {
    width: 100%;
    top: 0;
    left: 0;
    height: 56px;
}

.toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar__logo {
   
    margin-bottom: -9px;
    margin-left: 10px;
}

